/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+HK:wght@500&display=swap");

/* Default styles */
html {
  font-size: 62.5%;
  box-sizing: border-box;
  /* Variables */
  --color-white: #fff;
  --color-light-grey: #f8f9fb;
  --color-border: #0a254052;
  --color-dark-blue: #103b66;
  --color-sky-blue: #21b8f9;
  --color-dark-grey: #7D8A99;
  --color-grey: #546679;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  cursor: pointer;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  width: 100vw;
  background-color: var(--color-light-grey);
  color: var(--color-dark-blue);
  overflow-x: hidden;
}

.container {
  padding: 2.8rem 0;
  max-width: 92.2rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4.8rem;
}

/* Header */
.header {
  padding: 2rem 3rem;
  background-color: #fff;
  border-bottom: 1px solid var(--color-border);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__link {
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2.2rem;
}

.header__link--digest {
  font-weight: inherit;
  display: flex;
  align-items: center;
  gap: 1rem;
  position: relative;
}

.header__link--digest::after {
  content: "2";
  position: absolute;
  top: -1.5rem;
  right: -1rem;
  width: 2rem;
  height: 2rem;
  background-color: red;
  color: var(--color-white);
  border-radius: 50%;
  font-weight: 500;
  font-family: "Noto Sans HK", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Main */
.main {
  display: flex;
  flex-direction: column;
}

.navbar {
  padding: 2.4rem;
  gap: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-grey);
}

.navbar-group {
  display: flex;
  gap: 1.6rem;
  align-items: center;
  position: relative;
  min-height: 4rem;
}

.navbar-group:not(:last-child) {
  border-right: 1px solid var(--color-grey);
  padding-right: 1.6rem;
}

.navbar-search__input {
  padding: 1.2rem 1.2rem 1.2rem 4rem;
  border-radius: 6px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  font-size: 1.4rem;
  line-height: 1.8rem;
  min-width: 42.5rem;
}

.navbar-search__icon {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1.2rem;
  cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 5rem;
  height: 2.9rem;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #B6BEC6;
  transition: .4s;
  border-radius: 9rem;
}

.slider:before {
  position: absolute;
  content: "";
  height: 2.3rem;
  width: 2.3rem;
  left: 3px;
  bottom: 3px;
  background-color: var(--color-white);
  transition: .4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: var(--color-sky-blue);
}

input:focus+.slider {
  box-shadow: 0 0 1px var(--color-sky-blue);
}

input:checked+.slider:before {
  transform: translateX(2rem);
}

#category-selector {
  border: none;
  background: transparent;
  color: var(--color-grey);
  font-size: 1.3rem;
  line-height: 1.6rem;
  padding: 1.7rem 2rem;
  outline: none;
  cursor: pointer;
}

button.toggle-view,
.btn {
  border: none;
  background: transparent;
  cursor: pointer;
}

.btn {
  background: var(--color-sky-blue);
  color: var(--color-white);
  padding: 1.2rem 1.6rem;
  gap: .8rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border-radius: 5px;
  box-shadow: 0px 4px 4px #32324714, 0px 4px 8px #3232470f;
}